#score-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.score {
    text-align: center;
}

#game-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

#game-container h1 {
    text-align: center; /* Center the text */
    margin-top: 20px; /* Add top margin for spacing, adjust as needed */
    margin-bottom: 50px; /* Add bottom margin for spacing, adjust as needed */
}

.number-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.digit {
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.carry-input, .answer-input {
    width: 20px; /* Reduced from 30px to 20px */
    border: 1px solid #000;
    text-align: center;
    margin-right: 5px;
}

.plus-sign {
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

hr {
    width: 120px;
    margin: 5px auto;
}

.empty-space {
    width: 30px;
    margin-right: 5px;
}

input:disabled {
    background-color: #f0f0f0;
    color: #ccc;
}

input:not(:disabled) {
    background-color: #ffffe0; /* Light yellow background for active input */
    color: #000;
}

#check-answer-btn {
    margin-top: 50px; /* Adjust this value as needed */
}

/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}
